.wrapper-modal {
  position: fixed;
  inset: 0px;
  background-color: rgb(0 0 0 / 71%);
  display: flex;
  justify-content: center;
}

.presentation {
  z-index: 1200;
  position: absolute;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1000;
  color: white;
  padding: 5px 10px;
  background-color: black;
  border-radius: 50%;
  font-weight: 550;
  font-size: 20px;
  transition: 200ms all ease-in-out;
}

.modal-close:hover {
  padding: 5px 10px;
  transition: 200ms all ease-in-out;
  transform: scale(0.8);
}

.modal__user_perc {
  color: rgb(2, 188, 2);
}

.modal {
  position: relative;
  max-width: 800px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
              0px 5px 8px 0px rgba(0, 0, 0, 0.14),
              0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background: #111;
  overflow: hidden;
  border-radius: 8px;
  transition: all 400ms ease-in-out 2s;
  animation: fadeIn 400ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);    
  }
}

.modal__poster-img {
  width: 100%;
  height: auto;
}

.modal__content {
  padding: 40px;
  color: white;
  position: relative;
}

.modal__title {
  padding: 0;
  font-size: 35px;
  margin: 16px 0;
}

.modal__details {
  font-weight: 600;
  font-size: 18px;
  margin: 10px auto;
}

.modal__aver {
  font-size: 20px;
  line-height: 1.5;
  color: white;
  position: absolute;
  margin-top: 60px;
  margin-bottom: 50px;
  font-weight: bold;
}

.modal__overview {
  width: 90%;
  font-size: 13px;
  line-height: 1.5;
  color: lightgray;
  position: absolute;
  margin: 100px auto;
}

.modal__play {
  width: 90%;
  height: 40px;
  color: black;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  align-items: center;
  margin: 0;
}

.modal::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

@media screen and (max-height: 768px) {
  .wrapper-modal {
    align-items: unset;
    padding-top: 2rem;
  } 

  .modal {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .modal__aver {
    font-size: 16px;
  }

  .modal__overview {
    font-size: 16px;
  }

  .modal__details {
    font-size: 16px;
  }

  .wrapper-modal {
    padding: 0;
  }

  .modal {
    overflow-y: scroll !important;
  }
}